body {
    background-color: #cfd6da;
    font-family: "Italiana", sans-serif;
    padding: 30px;
    color: #191942;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 0;
}
.menu-item {
    justify-content: center;
    width: 50%;
    padding: 10px;
    padding-left: 140px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 120px;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 65px;
}

h3 {
    font-size: 30px;
    text-align: left;
}